/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.reason-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.reason {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    width: 90%;
    padding: 1rem;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.reason-head {
    width: 100%;
}

.prev,
.next {
    height: 3rem;
    width: 5%;
    font: inherit;
    z-index: 2;
    background-color: #202229;
    border: none;
    color: white;
    font-weight: 700;
}

.image {
    height: 20rem;
    width: 100%;
}

.reason-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.reason-div p {
    width: 100%;
    margin: 0.5rem;
}

.dash {
    height: 6px;
    width: 17px;
    border-radius: 10px;
    margin-right: 0.5rem;
}

.explore-btn {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    border-radius: 20px;
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-image: url("../../assets/logo-black.png");
}

@media screen and (min-width:700px) and (max-width:1000px) {
    .image {
        width: 60%;
        height: 25rem;
    }

    .reason-head {
        width: 80%;
    }
}

@media screen and (min-width:1001px) {
    .reason-container {
        padding: 1rem;
    }

    .reason {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 30rem;
        margin: 0 0.3rem;
    }

    .image {
        height: 25rem;
        width: 40%;
    }

    .reason-head {
        width: 60%;
        padding-left: 2rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}