footer{
    width:100%;
    background-color: black;
    margin-top: -3rem;
    padding: 5rem 2rem 2rem 2rem;
    z-index: -1;
    color:white;
    box-sizing: border-box;
}

.foot-btn{
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 0.8rem;
    border-radius: 10px;
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-image: url("../../assets/pin-down.png");
}

.footer-main{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.footer-one small{
    color: #D1D1D2;
}

.links{
    margin:4rem 0 1rem 0;
    color:#5F5F62
}

.link-btn-container{
    width:100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
}
.link-btn{
    margin-right:0.5rem;
    width:7rem;
    height: 3rem;
    font:inherit;
    font-size: small;
    border-radius: 15px;
    border:none;
    background-color: #292B34;
    color: #d4d6e5;
}

.bold-tag{
    font-size: 20px;
    margin: 0;
}

.footer-one{
    width:80%;
}

.footer-two{
    width:100%;
}

.link-cont {
    display: flex;
    width:100%;
    flex-wrap: wrap;
}

.class-links{
    list-style-type: none;
    padding: 0;
    width: 50%;
}

.links-head{
    color: #292B34;
}

.link-links{
    color: #C6C6C7;
}

.footer-bottom{
    border-top: 1px #292B34 solid;
    display: flex;
    color: #C6C6C7;
    flex-direction: column;
}

.footer-bottom a{
    margin-right: 1rem;
    color: #292B34;
}

@media screen and (min-width:600px) and (max-width:1000px) {
    .footer-one p{
        width: 40%;
    }

    .link-cont{
        flex-direction: row;
    }

    .class-links{
        width:25%;
    }

}

@media screen and (min-width:1001px) {
    .footer-one{
        width:30%;
    }

    .footer-one p {
       width:70%;
    }

    .footer-two{
        width: 60%;
    }

    .footer-main{
        flex-direction: row;
        justify-content: space-between;
    }

    .bold-tag{
        font-size: 30px;
    }
    
    .link-btn{
        width: 8rem;
    }

    .class-links{
        width: 25%;
    }

    .link-cont{
        flex-direction: row;
    }

    .footer-bottom{
        flex-direction: row;
        justify-content: space-between;
    }
}